.header {
    text-transform: uppercase;
    color: #DDD;
}

.component {

}

.name {
    color: #DDD;
}

.demo {
    display: block;
    color: #FFF;
    text-decoration: none;
    font-style: italic;
    margin-left: 20px;
}

.components {
    padding: 15px 0;
}
