.container {
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

.header {
    text-transform: uppercase;
    color: #DDD;
    font-weight: normal;
}

.name {
    color: #DDD;
    padding-top: 10px;
    font-weight: normal;
}

.demo {
    display: block;
    color: #FFF;
    text-decoration: none;
    font-style: italic;
    margin-left: 20px;
}

.demo:hover {
    text-decoration: underline;
}

.components {
    padding: 15px 0;
}
