.container {

}

.title {
    font-size: 22px;
    margin-bottom: 10px;
}

.line {
    display: flex;
    margin: 5px 0;
}

.label {
    width: 150px;
    text-align: right;
    margin-right: 10px;
    color: gray;
}

.input {
    width: 50%;
    min-width: 300px;
    font-family: serif;
    font-size: 16px;
}

.description {
    width: 50%;
    min-width: 300px;
    height: 200px;
    font-family: serif;
    font-size: 16px;
}

.submit {
    font-size: 14px;
    display: block;
    padding: 10px;
    margin-top: 5px;
    background-color: royalblue;
    border-width: 0;
    border-radius: 3px;
    color: white;
}
